/*body{*/
/*    font-family: 'Poppins', sans-serif;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    color: #fff;*/
/*    height: 100vh;*/
/*    width: 100%;*/
/*    background: url("https://d2yw9izrmawh7r.cloudfront.net/employers/1058515/photos/MLP_1307.jpg");*/
/*    background-position: top;*/
/*    background-size: cover;*/
/*    background-repeat: no-repeat*/
/*}*/
/*label{*/
/*    color: black;*/
/*}*/
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    height: 100vh;
    width: 100%;
    position: relative; /* Add position relative to the body */
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://d2yw9izrmawh7r.cloudfront.net/employers/1058515/photos/MLP_1307.jpg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5; /* Adjust the opacity as desired */
    z-index: -1; /* Ensure the pseudo-element is behind other content */
}

label {
    color: black;
}
