<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="navbar">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@200&family=Oxygen&family=Poppins:ital,wght@0,200;0,400;1,100;1,200;1,300&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/CSS/styleAbout.css">

</head>
<body>
<div layout:fragment="content1">
    <div class="leftWay">
    </div>
    <div class="rightWay">
        <h1>About Us</h1>
        <p style="color:white;">
            We are a Simple Platform give many services for your school
            or your college or your universite,
            all that just for help you and and for ease of work
            Just choise what do you need, and we do necessary for you
        </p>
        <div class="container">
            <footer>
                <p style="color: black; font-size: 80%">&copy; 2023 Imad Ettamen, Mohammed Sadrafe. All Rights Reserved.</p>
                <p style="color: black; font-size: 80%">we are two software engineering student</p>
            </footer>
        </div>
    </div>
</div>
</body>
</html>